@import url('https://fonts.googleapis.com/css?family=Shrikhand');

body {
  background-color: #1C2453;
  width: 100%;
  margin: 0;
}

.navbar li {
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
  
}

.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-radius: 500px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

nav {
  list-style: none;
  font-family: 'Shrikhand', cursive;
  font-size: 120%;
  border-radius: 30px;
  background-color: #6EEFED;
  height: 4em; 
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
  margin: 0 auto;
  flex-direction: row;
  margin-bottom: 20px;
}



.nav {
  margin-left: 15%;
  background-color: #1C2C74;
  border-radius: 50%;
  border: none;
  color: white;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  transition-duration: 2.9s;
  
}

.nav:hover {
  background-color: #596F62;
}

a {
  text-decoration: none;
  color: white;
}

.me2{
  float: right;
  width: 25%;
  border-radius: 50%;
  border: dotted #6EEFED 10px;
}

.me {
  float: left;
  clear: left;
  width: 25%;
  border-radius: 50%;
  border: dotted #6EEFED 10px;
  margin-right: 10px;
}

footer {    
  background-color: #B9D8C2;
  border-top: solid 10px #6EEFED;
  padding: .5%;
/*   display: block;
  position: relative;
  clear: both; */
  bottom: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  position: relative;
  width: 100%;
  border-radius: 10px;
}

.text {
    padding: 10px 10px;
    background-color: #FFFFFF;
    color: #1C2453;
    border-radius: 25px;
    text-align: center;
    width: 90%;
    margin-bottom: 20px;
    margin-left: 5%;
}

.title {
    padding: 10px 10px;
    background-color: #FFFFFF;
    color: #1C2453;
    border-radius: 25px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.text1 {
    padding: 1px 10px;
    background-color: #FFFFFF;
    color: #1C2453;
    border-radius: 25px;
    text-align: center;
    width: 40%;
    margin-top: 30px;
    display: inline-block;
}

.logo{
    top: 50%;
}

.adidas {
    height: 30%;
    position: absolute;
    top: 30%;
    left: 45%;
    
}

.mylogo2 {
  display: inline;
  margin-right: 0%;
  margin-left: 5%;
  border-radius: 50%;
  border: none;
}

.myvid {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-left: 40%;
  margin-top: 10%;
}

/*.bassclef{*/
/*  width: 10%;*/
/*  display: inline;*/
/*  margin-left: 16%;*/
/*  top: 20%;*/
/*  text-align: center;*/
/*}*/

.bassbox{
  width: 10%;
  height: 45%;
  margin-left: 80px;
  display: inline;
  position: relative;
}



/*#C3D898*/